<ion-view view-title="Proyectos">
    <ion-nav-buttons side="right">
        <button ng-click="showFilters()" class="button button-icon icon ion-android-more-horizontal"></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher
            on-refresh="refresh()">
        </ion-refresher>
        <div class="list projects">
            <a class="item item-thumbnail-left item-text-wrap" ng-repeat="project in projects" ui-sref="^.show({ id: project.id})">
                <img ng-class="{gray: project.status==='finalizado'}" src="{{ project.picture }}">
                <h2 class="title ">{{ project.title }}</h2>
                <p ng-if="project.status === 'finalizado'">Finalizado</p>
            </a>
            <h4 class="not-found" ng-show="!projects.length && loading === false">
                No se encontraron proyectos
            </h4>
        </div>
        <ion-infinite-scroll
            on-infinite="loadMore()"
            ng-if="moreProjectsCanBeLoaded"
            distance="5%">
        </ion-infinite-scroll>

    </ion-content>
</ion-view>
