<ion-view>
    <ion-nav-title>{{ project.title }}</ion-nav-title>
    <ion-content class="has-header">
        <div class="list card project">

            <div class="item item-avatar item-text-wrap">
                <img src="{{ project.picture }}">
                <h2>{{ project.title }}</h2>
            </div>

            <div class="item item-body">
                <img class="full-image" src="{{ project.gallery[0].url }}" ng-click="openModal()">
                <p ng-bind-html="displaySafeHtml(project.description)"></p>
                <p>
                    <span class="open" ng-if="project.openingDate">Inicio: {{ project.openingDate }}<br></span>
                    <span class="closed" ng-if="project.closingDate">Finalizado: {{ project.closingDate }}</span>
                </p>
            </div>
            <div ng-if="project.need1 || project.need2 || project.need3 || project.need4 || project.need5 || project.need6">
                <div class="item item-divider">
                  {{ project.status == 'finalizado' ? 'SE NECESITÓ' : 'SE NECESITA' }}
                </div>
                <a class="item item-icon-left item-text-wrap" href="#" ng-if="project.need1">
                  <i class="icon"><img ng-src="img/icons/{{ project.iconNeed1 || 'OTROS' }}.png"></i>
                  <span>{{ project.need1 }}</span>
                </a>
                <a class="item item-icon-left item-text-wrap" href="#" ng-if="false">
                  <i class="icon"><img ng-src="img/icons/{{ project.iconNeed2 || 'OTROS' }}.png"></i>
                  <span>{{ project.need2 }}</span>
                </a>
                <a class="item item-icon-left item-text-wrap" href="#" ng-if="project.need3">
                  <i class="icon"><img ng-src="img/icons/{{ project.iconNeed3 || 'OTROS' }}.png"></i>
                  <span>{{ project.need3 }}</span>
                </a>
                <a class="item item-icon-left item-text-wrap" href="#" ng-if="project.need4">
                  <i class="icon"><img ng-src="img/icons/{{ project.iconNeed4 || 'OTROS' }}.png"></i>
                  <span>{{ project.need4 }}</span>
                </a>
                <a class="item item-icon-left item-text-wrap" href="#" ng-if="project.need5">
                  <i class="icon"><img ng-src="img/icons/{{ project.iconNeed5 || 'OTROS' }}.png"></i>
                  <span>{{ project.need5 }}</span>
                </a>
                <a class="item item-icon-left item-text-wrap" href="#" ng-if="project.need6">
                  <i class="icon"><img ng-src="img/icons/{{ project.iconNeed6 || 'OTROS' }}.png"></i>
                  <span>{{ project.need6 }}</span>
                </a>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left" ng-if="project.status == 'actual'">
                <a class="tab-item" href="#" ng-hide="project.isSuscribed" ng-click="suscribe()">
                    <i class="icon ion-heart assertive"></i>
                    Ayudar
                </a>
                <a class="tab-item" href="#" ng-show="project.isSuscribed" ng-click="unsuscribe()">
                    <i class="icon ion-close-circled assertive"></i>
                    Desuscribirse
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share positive"></i>
                    Compartir
                </a>
            </div>

        </div>
    </ion-content>
</ion-view>
