<ion-view view-title="Mi cuenta">
        <ion-nav-view name="form">
            <ion-content>
                <form name="loginForm" novalidate="" class="loginForm">
                    <div class="list">
                        <label class="item item-input item-floating-label">
                            <span class="input-label">
                                <span ng-class="{'asterisk-error': loginForm.credentials.email.$invalid}">*</span>
                                Email
                            </span>
                            <input type="email" name="email" ng-model="credentials.email" placeholder="Para iniciar sesión ingresá tu email" required>
                        </label>
                        <label class="item item-input" ng-show="codeShown" ng-hide="codeHidden">
                            <span class="input-label">Código:</span>
                            <input type="number" name="code" ng-model="credentials.code" style="width:10%" minlength="4" maxlength="4" ng-required="codeShown" placeholder="Ingresá el código">
                        </label>
                    </div>
                    <div class="padding row" ng-show="codeShown" ng-hide="codeHidden">
                        <div class="col">
                            <button class="button button-block button-assertive" ng-click="cancelLogin()">
                                Cancelar
                            </button>
                        </div>
                        <div class="col">
                            <button class="button button-block button-positive" ng-click="login(credentials)" ng-disabled="loginForm.$invalid">
                                Iniciar sesión
                            </button>
                        </div>
                    </div>
                    <div class="padding" ng-show="codeHidden" ng-hide="codeShown">
                        <button class="button button-block button-positive" ng-click="sendLoginCode(credentials.email)" ng-disabled="loginForm.$invalid">
                            Y recibí el código vía email
                        </button>
                    </div>
                </form>
                <div class="padding">
                    <button class="button button-block button-balanced" ui-sref="app.signup.step1">
                        Registrate
                    </button>
                </div>
            </ion-content>
        </ion-nav-view>
</ion-view>
