<ion-view view-title="Con qué podrías colaborar?">
    <ion-content>
        <ul class="list">

          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox" ng-model="data.helpWith.donacion">
             </label>
             Donación ($)
          </li>

          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox" ng-model="data.helpWith.compra_chica">
             </label>
             Compra chica
          </li>

          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox" ng-model="data.helpWith.tiempo">
             </label>
             Tiempo
          </li>

          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox" ng-model="data.helpWith.auto">
             </label>
             Auto
          </li>

          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox" ng-model="data.helpWith.camioneta">
             </label>
             Camioneta
          </li>

          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox" ng-model="data.helpWith.voluntario_eventos">
             </label>
             Voluntario en eventos
          </li>

          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox" ng-model="data.helpWith.camion">
             </label>
             Camión
          </li>

          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox" ng-model="data.helpWith.barco_lancha">
             </label>
             Barco/Lancha
          </li>

          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox" ng-model="data.helpWith.otro">
             </label>
             Otro
          </li>
      </ul>
    </ion-content>
    <div class="bar bar-footer bar-positive">
        <button class="button button-positive pull-right" ui-sref="^.step3" ng-disabled="myDataForm.$invalid">
            Siguiente <i class="icon ion-arrow-right-a"></i>
        </button>
    </div>
</ion-view>
