<ion-view view-title="Con qué podrías colaborar?">
    <ion-content>
        <ul class="list">

          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox" ng-model="signupData.helpWith.donacion">
             </label>
             Donación ($)
          </li>

          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox" ng-model="signupData.helpWith.compra_chica">
             </label>
             Compra chica
          </li>

          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox" ng-model="signupData.helpWith.tiempo">
             </label>
             Tiempo
          </li>

          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox" ng-model="signupData.helpWith.auto">
             </label>
             Auto
          </li>

          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox" ng-model="signupData.helpWith.camioneta">
             </label>
             Camioneta
          </li>

          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox" ng-model="signupData.helpWith.voluntario_eventos">
             </label>
             Voluntario en eventos
          </li>

          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox" ng-model="signupData.helpWith.camion">
             </label>
             Camión
          </li>

          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox" ng-model="signupData.helpWith.barco_lancha">
             </label>
             Barco/Lancha
          </li>

          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox" ng-model="signupData.helpWith.otro">
             </label>
             Otro
          </li>
      </ul>
          <div class="padding">
          <button class="button button-block button-positive" ui-sref="app.signup.step3">
              Siguiente <i class="icon ion-arrow-right-a"></i>
          </button>
      </div>
    </ion-content>
</ion-view>
