<ion-view view-title="Con qué podrías colaborar?">
    <ion-content>
        <ul class="list">

          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox" ng-model="signupData.help.donation">
             </label>
             Donación ($)
          </li>

          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox" ng-model="signupData.help.buy">
             </label>
             Compra chica
          </li>

          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox" ng-model="signupData.help.time">
             </label>
             Tiempo
          </li>

          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox" ng-model="signupData.help.car">
             </label>
             Auto
          </li>

          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox" ng-model="signupData.help.van">
             </label>
             Camioneta
          </li>

          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox" ng-model="signupData.help.voluntary">
             </label>
             Voluntario en eventos
          </li>

          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox" ng-model="signupData.help.truck">
             </label>
             Camión
          </li>

          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox" ng-model="signupData.help.boat">
             </label>
             Barco/Lancha
          </li>

          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox" ng-model="signupData.help.other">
             </label>
             Otro
          </li>
          <button class="button button-block button-positive" ng-click="next('app.signup.step3', signupForm)">
              Siguiente
          </button>
        </ul>
    </ion-content>
</ion-view>
