<ion-view view-title="Otros">
    <ion-content>
        <ul class="list">
          <li class="item item-toggle">
             ¿Te gustaría tener proyectos a cargo?
             <label class="toggle toggle-balanced">
               <input type="checkbox" ng-model="signupData.projects">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
          <li class="item item-toggle">
             ¿Nos ayudarías a juntar cosas (comida, ropa, juguetes, etc) entre tus amigos, familia o compañeros de trabajo?
             <label class="toggle toggle-balanced">
               <input type="checkbox" ng-model="signupData.collect">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
          <li>
              <label class="item item-input item-stacked-label">
                  <span class="input-label">¿Algo más que nos quieras contar?</span>
                  <textarea ng-model="signupData.comments" placeholder="Nos interesa saber más de vos..."></textarea>
              </label>
          </li>
      </ul>
      <div class="padding">
          <button type="submit" class="button button-block button-balanced">
              Finalizar
          </button>
          <button ui-sref="app.signup.step1" ng-click="cancel()" class="button button-block button-assertive">
              Cancelar
          </button>
      </div>
    </ion-content>
</ion-view>
