<ion-view>
    <ion-nav-title>{{ project.title }}</ion-nav-title>
    <ion-content class="has-header">
        <div class="list card project">

            <div class="item item-avatar">
                <img src="{{ project.pictures.small }}">
                <h2>{{ project.title }}</h2>
            </div>

            <div class="item item-body">
                <img class="full-image" src="{{ project.pictures.big[0] }}" ng-click="openModal()">
                <p>
                    {{ project.description }}
                </p>
                <p><span>Apertura</span>: Nov 05, 2014 - <span>Cierre</span>: Dic 10, 2014</p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-heart assertive"></i>
                    Ayudar
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share positive"></i>
                    Compartir
                </a>
            </div>

        </div>
    </ion-content>
</ion-view>
