
.projects .item h2, .project .item-avatar h2 {
    white-space: normal;
}
.modal {
    background-color: black;
}
.item.item-toggle {
    white-space: normal;
}
.asterisk-error {
    color: red;
}
input.ng-invalid {
    border-bottom: 2px solid red;
}
.joinForm label {
    padding-right: 16px;
}
.gallery img {
    width:100%;
}
