.modal {
    background-color: black;
}
.item.item-toggle {
    white-space: normal;
}
.asterisk-error {
    color: red;
}
input.ng-invalid {
    /* border-bottom: 1px solid red; */
}
.myDataForm label {
    padding-right: 16px;
}
.gallery img {
    width:100%;
}
.forgot-password {
    float:right;
}
.projects-filters-popup .popup-head {
  display: none;
}
.open, .closed {
    font-weight: bold;
}
.not-found {
    text-align:center;
    padding-top: 25px;
}
/*
.alert-error .popup-head {
  background-color: red;
}
*/

img.gray {
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
         -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
            filter: grayscale(100%);
}
