.modal {
    background-color: black;
}
.item.item-toggle {
    white-space: normal;
}
.asterisk-error {
    color: red;
}
input.ng-invalid {
    /* border-bottom: 1px solid red; */
}
.myDataForm label {
    padding-right: 16px;
}
.gallery img {
    width:100%;
}
.forgot-password {
    float:right;
}
.projects-filters-popup .popup-head {
  display: none;
}
.open, .closed {
    font-weight: bold;
}
/*
.alert-error .popup-head {
  background-color: red;
}
*/
